n8n-sync-clinics-simple.json
{
  "name": "Sync Clinics from Google Sheet to RafaLeads",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "value": "0 */5 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "your-google-sheet-id",
          "mode": "id"
        },
        "sheetName": "clinics",
        "options": {
          "range": "A:Z"
        }
      },
      "id": "read-sheet",
      "name": "Read Clinics from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-clinic-id",
              "leftValue": "={{ $json.clinic_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "has-name",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-valid",
      "name": "Filter Valid Clinics",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://rafaleads-production.up.railway.app/api/clinics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "clinic_id",
              "value": "={{ $json.clinic_id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "city",
              "value": "={{ $json.city || 'Unknown' }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $json.whatsapp || $json.phone || '' }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone || '' }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email || '' }}"
            },
            {
              "name": "website",
              "value": "={{ $json.website || '' }}"
            },
            {
              "name": "address",
              "value": "={{ $json.address || '' }}"
            },
            {
              "name": "hours",
              "value": "={{ $json.hours || '' }}"
            },
            {
              "name": "notes",
              "value": "={{ $json.notes || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "enabled": true,
            "maxRetries": 2
          }
        }
      },
      "id": "sync-to-api",
      "name": "Sync to RafaLeads API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clinic-id",
              "name": "clinic_id",
              "value": "={{ $('Read Clinics from Sheet').item.json.clinic_id }}",
              "type": "string"
            },
            {
              "id": "clinic-name",
              "name": "clinic_name",
              "value": "={{ $('Read Clinics from Sheet').item.json.name }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "dateTime"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message || 'Clinic synced successfully' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clinic-id",
              "name": "clinic_id",
              "value": "={{ $('Read Clinics from Sheet').item.json.clinic_id }}",
              "type": "string"
            },
            {
              "id": "clinic-name",
              "name": "clinic_name",
              "value": "={{ $('Read Clinics from Sheet').item.json.name }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "dateTime"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.error || 'Unknown error occurred' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "your-google-sheet-id",
          "mode": "id"
        },
        "sheetName": "sync_logs",
        "valuesToSend": "defineBelow",
        "values": {
          "values": [
            {
              "column": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "column": "clinic_id",
              "value": "={{ $json.clinic_id }}"
            },
            {
              "column": "clinic_name",
              "value": "={{ $json.clinic_name }}"
            },
            {
              "column": "status",
              "value": "={{ $json.status }}"
            },
            {
              "column": "message",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "log-to-sheet",
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clinic-id",
              "name": "clinic_id",
              "value": "={{ $json.clinic_id }}",
              "type": "string"
            },
            {
              "id": "clinic-name",
              "name": "clinic_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "skipped",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "dateTime"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Missing required fields (clinic_id or name)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-skip",
      "name": "Log Skip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Read Clinics from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Clinics from Sheet": {
      "main": [
        [
          {
            "node": "Filter Valid Clinics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Clinics": {
      "main": [
        [
          {
            "node": "Sync to RafaLeads API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to RafaLeads API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skip": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "clinic-sync",
      "name": "Clinic Sync"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
